extends ../template/template.pug

mixin bubblelist(...items)
	each item in items
		//- The second line is to insert a space in between each bubble
		//- I would use &nbsp; if, you know, it wasn't non-breaking
		span.bubble= item
		|

block head
	title McKayla Washburn
	link(rel="stylesheet", type="text/css", href="/portfolio/portfolio.scss")

block scripts
	script(type="application/javascript", src="/portfolio/portfolio.js")

block body
	#display
		//- #banner: h6 Currently a little bit broken. Pardon my dust. <span class="emoji">😅</span>
		//- #banner: h6 Contact me ›
		//- #banner: h6 v2.2.2
		//- #banner: a(href="https://twitch.tv/partheseas"): h6 Currently playing Celeste ›&nbsp;&nbsp;&nbsp;<span class="emoji">🍓</span>

	#projects
		.profile.enhance
			img(src="/resources/profile.jpg")
			h2 McKayla Washburn
			p.
				Aspiring wannabe &middot; <a href="https://facet.ai"><strong class="facet">@Facet</strong></a> &middot; she/her

		//- h1.title Projects

		.large.left
			img.screenshot(src="/resources/screenshots/app-screen-lg.jpg")
			.description
				h2
					a(href="https://facet.ai/") Facet
					| &nbsp;&middot;
					a.uil.uil-twitter.light-sky(
						title="Twitter",
						href="https://twitter.com/facet_ai"
					)
				h6 Unmask your creativity 📸
				p.
					Facet is a content-aware image editor for crafting stunning visual stories.
					It makes it seemless to iterate quickly and share your work with others.
				br
				p: +bubblelist('Apollo', 'GraphQL', 'Python', 'React', 'Redux', 'TypeScript', 'WebGL', 'Webpack')

		.large.right
			img.screenshot(src="/resources/screenshots/dough.png")
			.description
				h2
					a(href="https://dough.fi/") Dough
					| &nbsp;&middot;
					a.uil.uil-twitter.light-sky(
						title="Twitter",
						href="https://twitter.com/dough_fi"
					)
				h6 Take control of your finances 💰
				p.
					Dough lets you see your complete financial picture. No more guessing
					how much you'll have left after you pay your bills. Set goals,
					manage your expenses, and make budget that works for you, without
					having to give out the logins to all of your bank accounts.
				br
				p: +bubblelist('Express', 'Parcel', 'Postgres', 'Prisma', 'React', 'Redux', 'TypeScript')

		.large.left
			img.screenshot(src="/resources/screenshots/lavender.jpg")
			.description
				h2
					//- a(href="https://lavender.rs/") Lavender
					a(href="/lavender/") Lavender
					| &nbsp;&middot;
					a.uil.uil-github.light-violet(
						title="Github",
						href="https://github.com/partheseas/lavender"
					)
				h6 A Game Boy Advance emulator that runs in your browser 🎮
				p.
					Lavender is an emulator for the Game Boy Advance, written
					in Rust, that runs in the browser using WebAssembly and WebGL for
					accurate and high performance emulation on any device.
				br
				p: +bubblelist('ARM v4T Assembly', 'Rust', 'wasm', 'WebGL', 'Webpack')

		.large.right
			img.screenshot(src="/resources/screenshots/observatory.png")
			.description
				h2
					a(href="/observatory/") Observatory
					| &nbsp;&middot;
					a.uil.uil-github.light-violet(
						title="Github",
						href="https://github.com/partheseas/observatory"
					)
				h6 A cross-platform disk usage analyzer 🔭
				p.
					Observatory utilizies a radial sunburst graph to to make it painless and simple
					to piece together exactly what is taking up space on your computer.
				br
				p: +bubblelist('Electron', 'Parcel', 'React', 'Redux', 'Sass')
