extends ../template/template.pug

mixin bubblelist(...items)
	each item in items
		//- The second line is to insert a space in between each bubble
		//- I would use &nbsp; if, you know, it wasn't non-breaking
		span.bubble= item
		|

block head
	title McKayla Washburn
	link(rel="stylesheet", type="text/css", href="/portfolio/portfolio.scss")

block scripts
	script(type="application/javascript", src="/portfolio/portfolio.js")

block body
	#display
		#banner: h6 Currently a little bit broken. Pardon my dust. <span class="emoji">😅</span>
		//- Contact me ›

	section#projects
		.profile.enhance
			img(src="/resources/lully2.png")
			h2 McKayla Washburn
			p.
				Aspiring wannabe &middot; <a href="https://facet.ai"><strong class="facet">@Facet</strong></a> &middot; she/her
				
		h1 Projects

		.large.left
			img.screenshot(src="/resources/screenshots/facet.png")
			.description
				h2
					a(href="https://facet.ai/") Facet
				h6 A new way to create stunning visual content 📸
				p.
					Facet makes it easier for you to edit content, not pixels. Facet understands
					the intent behind your actions, and can help you edit photos faster.
				br
				p: +bubblelist('Apollo', 'GraphQL', 'React', 'Redux', 'TypeScript', 'WebGL', 'Webpack')

		.large.right
			img.screenshot(src="/resources/screenshots/observatory.png")
			.description
				h2
					a(href="/observatory/") Observatory
					| &nbsp;&middot;
					a.uil.uil-github.light-violet(
						title="Github",
						href="https://github.com/partheseas/observatory"
					)
				h6 A modern cross-platform disk usage analyzer 🔭
				p.
					Observatory utilizies a radial sunburst graph to to make it painless and simple
					to piece together exactly what is taking up space on your computer.
				br
				p: +bubblelist('Electron', 'Parcel', 'React', 'Redux', 'Sass')

				h4 
					a(href="https://github.com/partheseas/electron-redux") electron-redux
					| &nbsp;&middot;
					a.uil.uil-github.light-violet(
						title="Github",
						href="https://github.com/partheseas/electron-redux"
					)
					a.uil.uil-package.red(
						title="npm",
						href="https://www.npmjs.com/package/@mckayla/electron-redux"
					)
				h6 Sync state between your processes

		.large.left
			img.screenshot(src="/resources/screenshots/lavender.jpg")
			.description
				h2
					//- a(href="https://lavender.rs/") Lavender
					a(href="/lavender/") Lavender
					| &nbsp;&middot;
					a.uil.uil-github.light-violet(
						title="Github",
						href="https://github.com/partheseas/lavender"
					)
				h6 A Game Boy Advance emulator that runs in your browser 🎮
				p.
					Lavender is an emulator for the Game Boy Advance, written
					in Rust, that runs in the browser using WebAssembly and WebGL for
					accurate and high performance emulation on any device.
				br
				p: +bubblelist('ARM v4T Assembly', 'Rust', 'wasm', 'WebGL', 'Webpack')

		.large.right
			img.screenshot(src="/resources/screenshots/gardens.jpg")
			.description
				h2
					a(href="/gardens/") Gardens
					| &nbsp;&middot;
					a.uil.uil-books.sky(title="Documentation", href="https://gardens.now.sh/")
					a.uil.uil-github.light-violet(
						title="Github",
						href="https://github.com/partheseas/gardens"
					)
					a.uil.uil-package.red(
						title="npm",
						href="https://npmjs.com/package/gardens"
					)
				h6 A useful logging utility for JavaScript <em>everywhere</em>. 🎉
				p Gardens helps you keep your error and debugging output consistent in a managable way.
				br
				p: +bubblelist('Node.js', 'Deno', 'React Native', 'Electron', 'Browsers')
				p: +bubblelist('AVA', 'Rollup', 'TypeDoc', 'TypeScript')
